.page-area {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background: rgba(248, 248, 248, 0.22);
  box-shadow: insert 0 0 107px -42px #000;
}

.card {
  display: inline-block;
  margin: 0 10px 20px;
  width: 100%;
}
